/* FIRMA NEÓN */
.credito {
    position: fixed;
    bottom: 15px;
    right: 20px;

    font-size: 14px;
    font-weight: bold;

    color: #00b0ff;

    text-shadow:
        0 0 5px #00b0ff,
        0 0 10px #00b0ff,
        0 0 20px #00b0ff,
        0 0 40px #2196f3;

    animation: neonFlicker 2s infinite alternate;
    transition: 0.3s;
}

/* EFECTO HOVER */
.credito:hover {
    color: #ff1744;

    text-shadow:
        0 0 5px #ff1744,
        0 0 10px #ff1744,
        0 0 20px #ff1744,
        0 0 40px #ff5252;

    transform: scale(1.1);
}

/* ANIMACIÓN PARPADEO NEÓN */
@keyframes neonFlicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        opacity: 1;
        text-shadow:
            0 0 5px #00b0ff,
            0 0 10px #00b0ff,
            0 0 20px #00b0ff,
            0 0 40px #2196f3;
    }

    20%, 24%, 55% {
        opacity: 0.4;
        text-shadow: none;
    }
}
